<%= form_for(person) do |f| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>

  <div class="field">
    <%= f.label :birth_date %>
    <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <%= f.text_field :birth_date, class: 'form-control pull-right' %>
  </div>
  </div>

  <div class="field">
    <%= f.label :cpf %>
    <%= f.text_field :cpf %>
  </div>

  <div class="field">
    <%= f.label :home_phone %>
    <%= f.text_field :home_phone %>
  </div>

  <div class="field">
    <%= f.label :mobile_phone %>
    <%= f.text_field :mobile_phone %>
  </div>

  <div class="field">
    <%= f.label :rg %>
    <%= f.text_field :rg %>
  </div>

  <div class="field">
    <%= f.label :address_id %>
    <%= f.text_field :address_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
    $('.input-group.date').datepicker({
    	format: 'dd/mm/yyyy',
    	language: 'pt-BR',
    	todayHighlight: true
    });
</script>
