<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @person.full_name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @person.birth_date %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @person.cpf %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @person.home_phone %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @person.mobile_phone %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @person.rg %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
