<p id="notice"><%= notice %></p>
<div class="box box-primary container box-body">
  <% content_for :left_side do %>
    <%= render 'left_side' %>
  <% end %>

<p>
  <strong>Nome Paciente:</strong>
    <br>
  <%= @triagem.nome_paciente %>
</p>

<p>
  <strong>Descrição Histórico Tratamento:</strong>
    <br>
  <%= @triagem.desc_hist_tratamento %>
</p>

<p>
  <strong>Descrição Histórico Médico:</strong>
    <br>
  <%= @triagem.desc_hist_medic %>
</p>

<p>
  <strong>Psicoterapia:</strong>
    <br>
  <%= @triagem.psicoterapia %>
</p>

<p>
  <strong>Queixa:</strong>
    <br>
  <%= @triagem.queixa %>
</p>

<p>
  <strong>Estado Paciente:</strong>
    <br>
  <%= @triagem.estado_paciente %>
</p>
</div>
<%= link_to 'Editar', edit_triagem_path(@triagem) %> |
<%= link_to 'Voltar', triagems_path %>
